<div class="form-wrapper">
  <div class="tag-inner">
    <div class="">
      <h2 class="page-heading">新規レシピ投稿</h2>
       
  <%= form_with(model: @recipe, url: recipes_path, local: true) do |f| %>
  <div class="main-contents">
  <div class="image-content">
 
                <%= image_tag "french.1.jpg" %>
    <div class="field">
     
      <%= f.attachment_field :main_image %>
   </div>
   </div>

<div class="text-content">
  <div class="field">
    <%= f.label :title, "料理名" %><br />
    <%= f.text_field :title , class: :form_text%>
  </div>


  <div class="field">
    <%= f.label :details, "何人前" %><br />
    <%= f.text_area :details, class: :form_text %>
  </div>


<div class="check_box">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
     <li class="tag-list">
       <%= tag.label do %>
         <%= tag.check_box %>
         <%= tag.text %>
       <% end %>
     </li>
     
   <% end %>
 </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
</div>
</div>

  


 <div class="field">
   <%= f.label :process, "作り方" %><br />
    <%= f.text_area :process, class: :form_prosess %>
  </div>

  


<% end %>




    </div>
  </div>
</div>

