<div class="form-wrapper">
  <div class="container">

    <div class="">
      <h2 class="page-heading">新規レシピ投稿</h2>       
  <%= form_with(model: @recipe, url: recipes_path, local: true) do |f| %>
 <div class="field">
   <%= f.label :process, "作り方" %><br />
    <%= f.text_area :process, class: :form_prosess %>
  </div>

  
  <div class="main-contents">
 <div class="image-content">
              <%= attachment_image_tag @recipe, :main_image, class: :card_img  %>
   </div>

<div class="material-contents">


<div class="field">
    <%= f.label :title, "料理名" %><br />
    <%= f.text_field :title , class: :form_text%>
  </div>

  <div class="field">
    <%= f.label :details, "何人前" %><br />
    <%= f.text_area :details, class: :form_text %>
  </div>
<% end %>
<%= form_with(model: @text, url:  recipe_foodstuffs_path, local: true) do |f| %>
<div class="material-content">
  <div class="field">
    <%= f.label :material, "材料" %><br />
    <%= f.text_field :material %>
  </div>

   <div class="field">
    <%= f.label :quantity, "分量" %><br />
    <%= f.text_field :quantity %>
  </div>

</div>
  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>

<% end %>


</div>
</div>
    </div>
  </div>
</div>
  


  <% @foodstuffs.each do |foodstuff| %>
              <li class="comments_list">
              <p>
               <%= foodstuff.material %>
              <div class="prototype__image">
        <%= foodstuff.quantity %>
      </div>
              </p> 
              </li>
              <% end %>
  

<%= form_with(model: @text, url:  recipe_texts_path, local: true) do |f| %>
  
  <div class="field">
    <%= f.label :text, "画像のコメント" %><br />
    <%= f.text_field :text %>
  </div>

   <div class="field">
    <%= f.label :text_image, "詳細の画像" %><br />
    <%= f.attachment_field :text_image %>
  </div>


  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>

<% end %>





         